extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Registro de notas do aluno: #{aluno.aluno}
            .w3-container

            ul.w3-ul
                li 
                    form.w3-container(action=('/alunos/' + aluno.id) method='POST')
                        label
                            b Projeto
                        input.w3-input.w3-border.w3-light-grey(type='text' name='identificador')
                        label
                            b Nota
                        input.w3-input.w3-border.w3-light-grey(type='text' name='nota')
                        input.w3-btn.w3-blue-grey(type='submit' value='Adicionar')
                li
                    table.w3-table-all
                        tr
                            th Projeto
                            th Nota
                            
                        each nt in aluno.notas
                            tr
                                td=nt.identificador
                                td=nt.nota
                                td.button.w3-button.w3-blue-grey(onclick="apagaNota('" + aluno.id + "','" + nt.identificador + "')") Apagar

                                                
            footer.w3-container.w3-teal 
                address Pauta App: Eduardo Semanas: 
                    a(href='/alunos') Voltar à pagina principal